@charset "utf-8";
/* CSS Document */

/*BODY STYLE*/
body  {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font: 12px Arial, Verdana, Helvetica, sans-serif;
color: #000000;
font-weight: bold;
background: #FFFFFF;
background-image:url(../images/tile.png);
background-repeat:repeat;
}

table, th, td{
border-style: none;
background: none;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}

/*LINK STYLE*/
a {color:#000000; font-weight:normal;}
a:link {text-decoration:none;}
a:visited {text-decoration:none; color: #000000;}
a:hover {text-decoration:underline; color: #000000;}
a:active {text-decoration:underline; color: #000000;}

/*IMAGE STYLE*/
a img {border: 0px;}

/*CONTAINER(INCLUDING NAVIGATION AND MAIN CONTENT)*/
.onePiece #container {
width: 640px;
height: auto;
background:#FFFFFF; 
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 16px;
overflow: visible;
text-align: left; 
position: absolute;
} 

.onePiece #header{
width: 100%;
height: auto;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
background:#FFFFFF;
}

.onePiece #video_box{
width: 100%;
height: auto;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
overflow: hidden;
}

.onePiece #description{
width: 637px; 
height: auto;
margin: 0px 0px 0px 0px;
padding: 2px 0px 3px 2px;
}

.onePiece #pic_box{
width: 100%;
height: auto;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
overflow:hidden;
}

.onePiece #nav {
width: auto;
height: 25px;
margin: 0px 0px 0px 0px;
padding: 3px 0px 0px 0px;
text-align: left; 
background: #FFFFFF;
} 

.onePiece #toppedIt {
width: auto;
height: 25px;
margin: 0px 0px 0px 0px;
padding: 0px 0px 7px 2px;
text-align: left; 
background: #FFFFFF;
} 

.onePiece #copyright {
width: 140px;
height: 11px;
margin: -18px 0px 0px 500px;
padding: 0px 0px 0px 0px;
text-align: left; 
background: #FFFFFF;
overflow: hidden;
} 

/*TEXT STYLES*/
.title {font-size:14px; color:#000000; font-weight:bold;}
.style1 {font-size:12px; color:#000000; font-weight:normal;}
.style2 {font-size:18px; color:#000000; font-weight:bold;}
.topper {font-size:23px; color:#000000; font-weight:normal;}